:root {
    --color1: #034f8a;
    --color2: #fbffe5;
    --color3: #f05d5e;
    --color4: #1f271b;
    --color5: #78c0e0;
}

body {
    background-color: var(--color1);
    margin: 0px;
    font-family: serif;
}

main {
    background-color: var(--color2);
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 10%;
}

#title {
    color: var(--color1);
    margin-bottom: 4rem;
}

h1 {
    font-size: 4rem;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 1rem;
}

p {
    color: var(--color1);
}

footer {
    margin: 0 10%;
}

address, a {
    color: var(--color2);
    text-decoration: none;
}
